<head>
 <link rel="stylesheet" href="assets/lib/whhg-font/css/whhg.css">
    <link rel="stylesheet" href="assets/css/aboutpage.css">
</head>
<body>
	<main clearfix >
        <div class="wrap">
            <div class="aboutblock">
            
        		<div ng-if="windowWidth>480" class="raw"  ng-repeat='item in aboutitems track by $index'>
        			<div class="col" ng-if="$index%2==0">
        				<span class="img" ng-style="{'background-image':'url({{item.photoUrl}})'}"><span class="sign"><span class="title small">{{item.titleSmall}}</span><span class="title">{{item.titleMain}}</span></span></span>
        			</div>
                    <div ng-if="$index%2!=0" class="col middle">
                        <span class="sign">
                            <i class="{{item.icon}}" aria-hidden="true"></i>
                            <span class="textabout" ng-bind-html="item.textAbout"></span>
                            <a class="btn" ng-href="{{item.moreInfoUrl}}">Подробнее</a>
                        </span>
                    </div>
        			<div ng-if="$index%2==0" class="col middle">
                        <span class="sign">
                            <i class="{{item.icon}}" aria-hidden="true"></i>
                            <span class="textabout" ng-bind-html="item.textAbout"></span>
                            <a class="btn" ng-href="{{item.moreInfoUrl}}">Подробнее</a>
                        </span>
        		    </div>
                    <div class="col" ng-if="$index%2!=0">
                        <span class="img" ng-style="{'background-image':'url({{item.photoUrl}})'}"><span class="sign"><span class="title small">{{item.titleSmall}}</span><span class="title">{{item.titleMain}}</span></span></span>
                    </div>
                </div>


                <div ng-if="windowWidth<480" class="raw"  ng-repeat='item in aboutitems track by $index'>
                    <div class="col">
                        <span class="img" ng-style="{'background-image':'url({{item.photoUrl}})'}"><span class="sign"><span class="title small">{{item.titleSmall}}</span><span class="title">{{item.titleMain}}</span></span></span>
                    </div>
                    <div class="col middle">
                        <span class="sign">
                            <i class="{{item.icon}}" aria-hidden="true"></i>
                            <span class="textabout" ng-bind-html="item.textAbout"></span>
                            <a class="btn" ng-href="{{item.moreInfoUrl}}">Подробнее</a>
                        </span>
                    </div>
                   
                </div>
            </div>
		</div>
	</main>
</body>
