<head>
    <link rel="stylesheet" href="assets/css/producerpage.css">
</head>
<body>
    <main clearfix  >
        <div class="wrap">
            <div class="producer">
                <div class="main-info">
                    <div class="main-picture">
                        <img src="assets/img/producer/main.jpg" alt="">
                        <ul class="social-icon">
                            <li >
                                <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li >
                            <a href=""><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="description">

                        <h3>Вячеслав Волконский</h3>

                        <p>Песни из концертной программы «Перекати-поле» отличаются особой мелодикой, которая зачастую напоминает умиротворенные баллады – загадочные и искренние. Но есть и взрывные, резкие, сквозь мелодику которых пробиваются и горькая ностальгия, и личные переживания автора. По мнению музыкальных критиков (Н. Иванова, В. Курилко), песни автора и исполнителя В. Волконского вполне заслуженно можно отнести к стилистике и городского романса, и нео-фолка, и так называемого бард-барокко. 
                        <br><br>
                        «Так называемые актёрские песни Вячеслава, к счастью, не совсем актёрские. Они особенные. Это вполне разумный и безусловно подлинный арт-объект, осмысленный и современный в своём роде. Мелодичный и искренний…
                        </p>
                    </div>
                </div>



            </div>    
        </div>    
    </main>   
</body>


