<!DOCTYPE html>
<html data-ng-app="theatreSite">
  <head>
  	<meta charset="UTF-8">
  	<meta name="description" content="Берег  –  молодой театр из Днепра. Мы выступаем на сцене Телетеатра (г. Днепр, Крутогорный спуск, 9). Режиссер и автор пьес – Вячеслав Волконский.">
  	<meta name="keywords" content="театр Берег, Берег, Днепр театр, просто лопнула струна, театры Днепропетровск, Волконский, абсурд, картонный ангел, лирическая комедия">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  
    <title>Театр Берег  –  Днепр</title>
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" /> 
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon"/>
    <script src="assets/lib/angularJS/angular.min.js"></script>
    <script src="assets/lib/angularJS/ngStorage.min.js"></script>
    <script src="assets/lib/angularJS/angular-route.min.js"></script>
    <script src="assets/lib/angularJS/angular-sanitize.min.js"></script>
    <script src="assets/lib/jquery/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="assets/lib/FontAwesome/css/font-awesome.min.css">
  	<link rel="stylesheet" href="assets/css/generalcss.css">
  	<link rel="stylesheet" href="assets/css/mainpage.css">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90655689-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>
  <body>


    <script src="app/app.js"></script>
    <script src="app/shared/header/headerDirective.js"></script>
    <script src="app/components/main/mainController.js"></script>
    <script src="app/components/producer/producerController.js"></script>
    <script src="app/components/troupe/troupeController.js"></script>
    <script src="app/components/photos/controllers/photosController.js"></script>
    <script src="app/components/contacts/contactsController.js"></script>
    <script src="app/components/photos/controllers/photosItemController.js"></script>
    <script src="app/components/news/controllers/newsController.js"></script>
    <script src="app/components/news/controllers/newsItemController.js"></script>
    <script src="app/components/plays/controllers/playsController.js"></script>
    <script src="app/components/plays/controllers/playsItemController.js"></script>
    <script src="app/components/about/aboutController.js"></script>

    
	<header class="header">
    <div class="wrap">
      <div class="logo">

         <a href="#/main"><img src="assets/img/logo.png" alt="Театр Берег логотип">
         
         <div class="sign"><span>Театр</span> <span>Берег</span></div></a>
      </div>
      <div class="hamburger-menu" ng-click="navView()">
         <div class="bar1"></div>
         <div class="bar2"></div>
         <div class="bar3"></div>
      </div>

      <nav >
          <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()">&times;</a>
        <ul id="main-nav" >
          <li> <a ng-class="getClass('/about')" ng-click="closeNav()" href="#/about">О нас</a> </li>
          <li> <a ng-class="getClass('/plays')" ng-click="closeNav()" href="#/plays">Спектакли</a> </li>
          <li> <a ng-class="getClass('/producer')" ng-click="closeNav()" href="#/producer">Режиссер</a> </li>
          <li> <a ng-class="getClass('/troupe')" ng-click="closeNav()" href="#/troupe">Труппа</a> </li>
          
          <li> <a ng-class="getClass('/photos')" ng-click="closeNav()" href="#/photos">Фото</a> </li>
          <li> <a ng-class="getClass('/news')" ng-click="closeNav()" href="#/news">Новости</a> </li>
          <li> <a ng-class="getClass('/contacts')" ng-click="closeNav()" href="#/contacts">Контакты</a> </li>
        </ul>
      </nav>
    </div>

</header>
  
    <div id="mainInfo">
    		<main class="clearfix">
						<div class="wrap">

							<div class="main-preview box-shadow" > 
			      		<span class="img box-shadow" style="background-image:url(assets/img/plays/struna_main.jpg)"><span class="bgmaskblack"><span class="title small">театр</span><span class="title">Берег</span></span></span>
			      
			      		<div class="info">
			        		<p>Мы  –  молодой театр из Днепра, выступающий на сцене Телетеатра (г. Днепр, Крутогорный спуск, 9). </p>
			        		<p> Стиль нашего творчества разносторонен: комедия, драма, лирика, сатира, абсурд. Герои спектаклей взяты из жизни. Возможно, Вы даже сможете узнать в них себя и взглянуть на себя со стороны!</p>
			        		<a class="btn btn-preview" ng-href="#/about"><i class="fa fa-info-circle" aria-hidden="true"></i>Подробнее</a>
			        		<a class="btn btn-preview" ng-href="#/contacts"><i class="fa fa-address-card" aria-hidden="true"></i>Контакты</a>
			       		</div>    
			    		</div>
       
	      			<div class="mainpage">
	        			<h1>Афиша</h1>
	        				<div class="poster">
	          				<div class="top-info box-shadow">
	            				<img alt="спектакль просто лопнула струна" class="mainImg" src="assets/img/plays/strunapromo.jpg"></img>
            					<div class="mainInfo">
              					<div class="date">
	                				<span class="day">1</span>
	                				<span class="month">Дек</span>
	                				<span class="time"><i class="fa  fa-clock-o" aria-hidden="true"></i>19:00</span> 
              					</div>
              					<div class="main-content">
                					<h3>Просто лопнула струна</h3>
                					<p>Лирическая комедия «Просто лопнула струна» по пьесе Т. Ламоновой «Всем летящим на северо-запад». «Я» - это целый набор вопросов: «Кто я?», Какой я?», «Знаю ли я себя?». На простые, казалось бы вопросы, трудно найти ответ. Спектакль театра Берег поможет Вам в этом. Режиссер спектакля – Вячеслав Волконский. </p>
              				  </div>
              				  <div class="contact-info"><i class="fa  fa-map-marker" aria-hidden="true"></i>г.Днепр, Крутогорный Спуск,9</div>
              				  <div class="contact-info "><i class="fa  fa-mobile" aria-hidden="true"></i>0671423392, 0955761205</div>
            					</div>
           						<div class="btns">
              					<div class="btn-moreinfo">
                          <a href="#/plays/0"  class="btn btn-poster"><i class="fa fa-info-circle "></i>Подробнее <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </div>
                        <div class="btn-holder">
                					<a href="https://vk.com/event86611549" target="_blank" class="btn btn-poster"><i class="fa fa-ticket "></i>Купить билет <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </div>
                      </div>
                    </div>
       
          					<div class="top-info box-shadow" >
                      <img class="mainImg" alt="квартирник перекатиполе" src="assets/img/plays/perekatipolepromo.jpg">
                      </img>
	            				<div class="mainInfo">
	              				<div class="date">
	                				<span class="day">2</span>
	                				<span class="month">янв</span>
	                				<span class="time"><i class="fa  fa-clock-o" aria-hidden="true"></i>19:00</span> 
	              				</div>
	              				<div class="main-content">
	                			  <h3>Квартирник "Перекатиполе"</h3>
	                			  <p>Песни из концертной программы «Перекати-поле» отличаются особой мелодикой, которая зачастую напоминает умиротворенные баллады – загадочные и искренние. Но есть и взрывные, резкие, сквозь мелодику которых пробиваются   личные переживания автора. Автор и исполнитель –  Вячеслав Волконский</p>
	              			  </div>
	              		    <div class="contact-info"><i class="fa  fa-map-marker" aria-hidden="true"></i>г.Днепр, Крутогорный Спуск,9</div>
	              		    <div class="contact-info "><i class="fa  fa-mobile" aria-hidden="true"></i>0671423392, 0955761205</div>
	            				</div>
	           				  <div class="btns">
                        <div class="btn-moreinfo">
                          <a href="#/plays/0"  class="btn btn-poster"><i class="fa fa-info-circle "></i>Подробнее <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </div>
	                      <div class="btn-holder">
	                        <a href="https://vk.com/event53971827" target="_blank" class="btn btn-poster"><i class="fa fa-ticket "></i>Купить билет <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
	                      </div>
	                    </div>
                    </div>
        					</div>
   
        				<h1>Новости</h1>
        				<div class="newsblock">
          				<div  class="newsitem">
            				<a ng-href="#/news/0">
		              		<time>
		              		  <span class="day">10</span>
		              		  <span class="month">янв</span>
		              		</time>
	              			<span class="img" style="background-image:url(assets/img/news/breht_mini.jpg)"></span>
	              			<div class="info">
	                		  <h2 class="title">Подготовка к премьере спектакля</h2>
	                		  <p class="desc">Уже скоро Вас ждет премьера спектакля по мотивам пьес Бертольда Брехта</p>
	              			</div>
           					</a>
          				</div>
		              <div  class="newsitem" >
		            		<a ng-href="#/news/1">
		              		<time>
		                		<span class="day">8</span>
		                		<span class="month">янв</span>
		              		</time>
		              		<span class="img" style="background-image:url(assets/img/news/search_mini.jpg)"></span>
		              		<div class="info">
		                		<h2 class="title">Поиск актеров</h2>
		                		<p class="desc">Театр "Берег" ищет актёров. Мужчин от 20 до 30 лет. Женщин от 20 до 50 лет. Кастинг, конкурс.</p>
		              		</div>
		            		</a>
		          		</div>
          				<div  class="newsitem" >
            				<a ng-href="#/news/2">
              				<time>
                				<span class="day">3</span>
                				<span class="month">янв</span>
              				</time>
              				<span class="img" style="background-image:url(assets/img/news/happyb_day_mini.jpg)"></span>
              				<div class="info">
                				<h2 class="title">День рождения Александра Стариковского</h2>
                				<p class="desc">Ура! Ура! Ура! Мы поздравляем нашего Сашу с Днем Рождения и желаем всего самого наилучшего! </p>
              				</div>
            				</a>
          				</div>
        				</div>
 							</div>
  					</div>
  					<a class="btn btn-main" ng-href="#/news"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Все новости</a>
        
        		<i class="fa fa-2x fa-chevron-down" aria-hidden="true"></i>
        		<footer>
  			<div class="wrap">
    			<div class="partners">
        		<span class="sign">Партнеры</span>
      				<a target="_blank" href="http://teleteatr.com.ua/"><img src="assets/img/телетеатр.png" alt="партнеры Берега телетеатр"></a>
    			</div>
    			<div class="contacts-social">
      		<ul>
        		<li class="sign">
          		Контакты
        		</li>
        		<li>
          		<i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:pr@bestrobofest.com">bereg@gmail.com</a>
        		</li>
        		<li><i class="fa fa-phone" aria-hidden="true"></i>0957834871, 0957834871</li>
      		</ul>
      		<ul>
        		<li class="sign">
          		Мы в соцсетях
        		</li>
        		<li class="social-icon">
          		<a href="" target="_blank"><i class="fa fa-facebook"></i></a>
        		</li>
        		<li class="social-icon">
          		<a href="https://vk.com/public86873355" target="_blank"><i class="fa fa-vk"></i></a>
        		</li>
            <li class="social-icon">
              <a href="https://plus.google.com/u/0/b/109079338748525694626/109079338748525694626" target="_blank"><i class="fa fa-google-plus" ></i></a>
            </li>
            
      		</ul>
    				</div>
  				</div>
				</footer>
    			</main>
				</div>
        <div class="hidden" data-ng-controller="navController">
      <div data-ng-class="getClass('/troupe')"></div>
      <div data-ng-class="getClass('/photos')"></div>
        {{hidden('/about')}}
        {{hidden('/plays')}}
        {{hidden('/producer')}}
        {{hidden('/troupe')}}
        {{hidden('/photos')}}
        {{hidden('/news')}}
        {{hidden('/contacts')}}
      </div>
    <data-ng-view class="clearfix"></data-ng-view>
     		
      	
    <script>
      theatreSite.controller('navController',
        ['$scope','$http', '$location', function($scope,$http,$location,$path) {
        $scope.getClass = function (path) {
          if ($location.path().substr(0, path.length) === path) {
            return 'popUpDialog-bg';
           
          }
          
        }
       $scope.hidden = function (path) {
       		if ($location.path().substr(0, path.length) === '/main') {
            $('#mainInfo').show();
           
          }
          else{
          	$('#mainInfo').hide();
          }
       } 
       
        }]);


      // document.querySelector("#mainInfo").style.display="none";
      function headerScroll(){
        window.onscroll = function() {
          if($(window).width()>1000)
          {
            if($(window).scrollTop()!=0){
              document.querySelector(".header").style.background = "black";
            }
            else{
              document.querySelector(".header").style.background = "rgba(0, 0, 0, 0.4)"
            }
          }
        }
      }
      

    </script>	
  </body>
</html>
