<head>
    <link rel="stylesheet" href="assets/css/contactspage.css">
</head>
<body>
	<main clearfix >
    	<div class="wrap">
    		<div class="contacts-bg box-shadow">
 				<div class="map">
					<iframe imageonload  frameborder="0" style="border:0"
					src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJS3m-Jdvi20ARwePpcc5dPPM&key=AIzaSyCugEhJu05oTHqIqOCp87bClS1dV0eIY88" allowfullscreen>
					</iframe>
				</div>
				<div class="contacts-data">
					<div class="soc">
						<ul>
							<li class="sign">Контакты</li>
							<li class="contact-info"><i class="fa fa-envelope" aria-hidden="true"></i>beregtheatre@gmail.com</li>
       						<li class="contact-info phone"> <i class="fa fa-phone" aria-hidden="true"></i>0957834871, 0957834871</li>
						
						</ul>
						<ul>
							<li class="sign">Мы в соцсетях</li>
							<li class="social-icon">
			          		<a href="" target="_blank"><i class="fa fa-facebook"></i></a>
			        		</li>
			        		<li class="social-icon">
			          		<a href="https://vk.com/public86873355" target="_blank"><i class="fa fa-vk"></i></a>
			        		</li>
							<li class="social-icon">
              				<a href="https://plus.google.com/u/0/b/109079338748525694626/109079338748525694626" target="_blank"><i class="fa fa-google-plus" ></i></a>
            				</li>
						</ul>
					</div>
				</div>
			</div> 
		</div>
	</main>
</body>