<!-- <head>
    <link rel="stylesheet" href="assets/css/mainpage.css">
</head>
<body>
  <main clearfix>
    <div class="wrap">



      <div class="mainpage">
        <h1>Афиша</h1>
        <div class="poster">
          <div class="top-info box-shadow" ng-repeat="play in plays| filter:{firstpage:'main'}" >
            <div class="mainImg" ng-style="{'background-image':'url({{play.photoUrlforPoster}})'}" ng-click="showDetails = ! showDetails">
              <div id="myModal" ng-show="showDetails" class="modal">
                <div class="modal-content" >
                    <img ng-src="{{play.photoUrlforPoster}}"  alt="Картинка" />
                </div>
              </div>     
            </div>
            <div class="mainInfo">
              <div class="date">
    			      <span class="day">{{play.day}}</span>
    			      <span class="month">{{play.month}}</span>
                <span class="time"><i class="fa  fa-clock-o" aria-hidden="true"></i>{{play.time}}</span> 
    		      </div>
              <div class="main-content">
                <h3>{{play.title}}</h3>
                <p>{{play.mini_description|limitTo: 310}}...</p>
              </div>
              <div class="contact-info"><i class="fa  fa-map-marker" aria-hidden="true"></i>{{play.address}}</div>
              <div class="contact-info "><i class="fa  fa-mobile" aria-hidden="true"></i>{{play.phone}}</div>
            </div>
            <div class="btns">
              <div class="btn-moreinfo">
                <a href="#/plays/{{$index}}"  class="btn"><i class="fa fa-info-circle "></i>Подробнее <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
              </div>
              <div class="btn-holder">
                <a href="http://vernadskychallenge.com/ru#" target="_blank" class="btn"><i class="fa fa-ticket "></i>Купить билет <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
        <h1>Новости</h1>
        <div class="newsblock">
          <div  class="newsitem" ng-repeat="item in news| filter:{page:'main'}">
            <a ng-href="#/news/{{$index}}">
              <time>
                <span class="day">{{item.day}}</span>
                <span class="month">{{item.month}}</span>
              </time>
              <span class="img" ng-style="{'background-image':'url({{item.photoUrlmini}})'}"></span>
              <div class="info">
                <h2 class="title">{{item.title}}</h2>
                <p class="desc">{{item.descriptionForPreview|limitTo: 110}}...</p>
              </div>
            </a>
          </div>
        </div>

        <a class="button" ng-href="#/news"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Все новости</a>
        
        <i class="fa fa-2x fa-chevron-down" aria-hidden="true"></i>
      </div> 
    </div>
  </main>
 
</body>
 -->