a{
  text-decoration: none;
}
.mainpage  h1 {
  clear:both;
  margin-top: 50px;
        color: #E9E9E9;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 35px;
    font-family:  sans-serif;
    text-shadow: 2px 4px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}
.main-preview{
  float: left;
  position: relative;
  margin-bottom: 50px;
  margin-right: 2%;
  width: 100%;
  background:rgba(180, 187, 203, 0.8);
  text-align: center;
  display: block;
}
.main-preview .img {
   position: relative;
    width: 100%;
    height: 260px;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-position: 50% 12%;
    display: block;
}
.main-preview .info{
  padding: 20px;
}
.main-preview .title {
    display: block;
    font-size: 95px;
    line-height: 51px;
    margin-bottom: 10px;
    color: rgba(243, 242, 239, 0.85);
    text-transform: uppercase;
    text-shadow: 2px 4px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    letter-spacing: 5px;
}
.main-preview .small {
    padding-top: 60px;
    font-size: 26px;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #B6C0D5;
}
.main-preview .info p{ 
  font-size: 22px;
  line-height: 26px;
  color:rgb(31, 56, 82);
  margin-bottom: 6px;
 }
.main-preview .info p:first-of-type{
  font-weight: bold;
}


.top-info {
    float: left;
    margin-right: 2%;
    width: 49%;
    height: 100%;
    background: rgba(180, 187, 203, 0.8);
}
.top-info:last-child {
  margin-right: 0;
}
.top-info .mainImg {
    position: relative;
    float: left;
    width: 55%;
    height: 100%;
    margin-right: 10px;
    background-size: cover;
    background-position: 50% 25%;
    box-shadow: 1px 0px 5px -1px rgba(51, 51, 51, 0.7);
}
.top-info .mainImg:hover { 
  cursor:pointer;
}
.top-info h3 {
  color: rgb(31, 56, 82);
  margin-bottom: 10px;
  line-height: 21px;
}
.top-info .main-content p {
  line-height: 18px;
  color: rgb(8, 33, 59);
}
.top-info .date, .newsblock .newsitem time {
    float: right;
    margin-top: 20px;
    margin-right: -5px;
    margin-bottom: 5px;
    padding: 10px;
    background-color: rgba(75, 110, 168, 1);
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: "Lato", sans-serif;
    box-shadow: 0px 0px 2px rgb(51, 51, 51);
}

.top-info .date .day, .newsblock .newsitem time .day{
  display: block;
  font-size: 40pt;
  font-weight: 300;
  line-height: 0.8;
}
.top-info .date .month, .newsblock .newsitem time .month {
  display: block;
  font-size: 22pt;
  font-weight: 900;
  line-height: 1.2;
}
.top-info .date .time {
  display: block;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
}
.top-info .date i{
  margin-right: 2px;
}
.top-info .main-content {
  padding: 20px 10px 5px 10px;
}

.top-info .contact-info {
  display: block;
  margin-top: 6px;
  font-size: 15px;
  padding-left: 10px;
  color: rgb(31, 56, 82);
  font-weight: 600;
}
.top-info .contact-info i {
  margin: 0;
  margin-right: 5px;
  display: inline-block;
  font-size: 21px;
}
.top-info .contact-info .fa-map-marker{
  font-size: 19px;
}


.newsblock .newsitem{
  float: left;
  margin-bottom: 20px;
  margin-right: 2%;
  width: 32%;
  background: rgba(180, 187, 203, 0.8);
  text-align: center;
   box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  transition:0.7s;
}
.newsblock .newsitem .info{
  padding: 20px;
  height: 100px;
}
.newsblock .newsitem .info h2{
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(31, 56, 82);
}
.newsblock .newsitem .info p{
  color: rgb(8, 33, 59);
}
.newsblock .newsitem:nth-child(3n) {
  margin-right: 0;
}
.newsblock .newsitem .img {
    width: 100%;
    height: 210px;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-position: 50% 25%;
    display: block;
}
.newsblock .newsitem:hover{
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 15px rgba(51, 51, 51, 0.8);
}





.btn {
   position: relative;
  display: inline-block;
  font-size: 18px;
  line-height: 45px;
  min-width: 184px;
  font-weight: 900;
  background: rgba(75, 110, 168, 1);
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  transition-duration: 0.6s;
  cursor: pointer;
}
.btn:hover{
  background: #2957A3;
}
.btn i{
  margin-right: 7px;
}
.btn-main{
  margin: 0px auto;
  text-align: center;
  display: block;  
  margin-bottom: 20px; 
  clear: both;
  width: 200px;
}

.btn-preview{ 
  margin-right: 30px;
  margin-top: 18px;
  margin-bottom: 10px;
}

.btn-poster{
  margin-left: -10px;
  margin-top: 18px;
  margin-bottom: 10px;
}
.btn-moreinfo {
  display: none;
}
.btn-holder {
  text-align: center;
}

.btn:hover{
  background: #2957A3;
}

.btn-preview:last-of-type{
  margin-right:0;
}
  
.top-info .fa-chevron-right {
  display: none;
}

footer{
  display:block !important;
}





@media screen and (max-device-width: 1230px),
screen and (max-width: 1230px) {
   .top-info { 
    width: 100%;
    height: 100%; 
    margin-bottom: 2%; 
  }
  .top-info .mainImg {
 
    width: 25%;
  }
  .newsblock .newsitem .info {
    padding: 20px;
    height: 120px;
}
.top-info:last-of-type{
  margin-bottom: 45px;
}
.mainPreview{
  margin-bottom: 45px;
}
footer .contacts-social ul{
  margin-left: 15px;
}
}
@media screen and (max-device-width: 900px),
screen and (max-width: 900px) {
   .top-info { 
    width: 100%;
    height: 100%;

  }
  .top-info .mainImg {
 
    width: 35%;
  }
  .newsblock .newsitem .info {
    padding: 20px;
    height: 160px;
}
footer .sign{
  line-height: 27px;
}
#main-nav a {
    font-size: 43px;
    line-height: 50px;
}
}
@media screen and (max-device-width: 700px),
screen and (max-width: 700px) {
   .top-info { 
    width: 100%;
    height: 100%; 
  }
  .top-info .mainImg {
 
    width: 45%;
  }
}
@media screen and (max-device-width: 580px),
screen and (max-width: 580px) {
#main-nav a {
    font-size: 32px;
    line-height: 42px;
}
  .top-info .mainImg {
    position: relative;
    float: left;
    width: 95%;
  }
  main {
    margin-top: 96px !important;
  }
  .mainInfo {
    display: none;
  }
.top-info:nth-child(2n) {
     margin-right: auto; 
}

  .top-info {
    float: left;
     display: block; 
    width: 95%;
    margin-left: 2.5%;
    height: 100%;
    margin-bottom: 20px;
}

  .top-info .mainImg {
  float: none;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 25%;
}
  .btns {
    float: right;
    margin-top: -50%;
    margin-right: -1%;
    z-index: 2;
  }
  .btn-moreinfo {
    display: block;
  }
  .top-info .fa-chevron-right {
    line-height: 55px;
    float: right;
  }
  .btn-holder {
    display: block;
    z-index: 2;
  }
  .btn-holder,
  .btn-moreinfo {
    text-align: left;
  }
  .btn-holder a,
  .btn-moreinfo a {
    padding-left: 10px;
  }
  .top-info i {
    display: inline-block;
    margin-right: 10px;
  }
 .btn {
    
    font-size: 23px;
    line-height: 55px;
    min-width: 240px;
    font-weight: 900;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    transition-duration: 0.6s;
}
.btn-preview {
  display: inline-block;
    margin-bottom: 8px;
    margin-right: 0;
}
.btn-preview:last-of-type{
  display: none;
}
.btn-poster{
  margin-left: -10px;
  margin-top: 2px;
  opacity: 0.9;
}
.btn-poster:hover{
  opacity: 1;
}
  .btn-moreinfo .btn {
    background: rgba(155, 162, 190, 1);
  }
  .btn:hover {
    background: rgba(75, 110, 168, 1);
    color: white;
  }
/*  .btn-holder{
    background: rgba(75, 110, 168, 0.9);
  }*/
  .top-info .btn-holder i {
    display: inline-block;
  }
  .newsblock .newsitem {
    width: 96%;
    margin: 0% 2% 3% 2%;
}
  .newsblock .newsitem:last-of-type{
    margin-bottom: 20px;
  }
  .newsblock .newsitem .info{
  text-align: left;
  height: 100%;
}
.top-info .fa-chevron-right {
  display: inline-block;
}

.top-info .mainImg:hover { 
  cursor:none;
}
footer .contacts-social ul{
  margin-left: 0;
  margin-top: 5px;
}
footer .contacts-social li{
  font-size: 17px;
}

footer {
    
    padding-left: 20px;
   text-align: left;
   
}
footer .contacts-social li i{
  font-size: 17px;
}
footer .sign{
  font-size: 18px;
}
}
