#mainInfo{
  display: none;  
}
.playsitemview{
  float: left;
  position: relative;
  margin-bottom: 20px;
  margin-right: 2%;
  width: 100%;
  background:rgba(207, 214, 228, 0.85);
  text-align: left;
   box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  font-family:  sans-serif;
}
.playsitemview .info{
  padding: 20px;
  
}
.playsitemview h2 {
    /* top: 160px; */
    bottom: 20px;
    left: 20px;
    position: absolute;
    font-size: 56px;
    line-height: 60px;
    margin-bottom: 3px;
    /*color: rgb(31, 56, 82);*/
    /* text-transform: uppercase; */
    /* color: #e9e9ea; */
    /* text-shadow: 0 1px 0 grey; */
    font-family: "Lato", sans-serif;
    color: white;
    text-shadow: 2px 4px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    letter-spacing: 1px;
}


.playsitemview .img {
   position: relative;
    width: 100%;
    height: 310px;
    padding: 0px;
    margin: 0px;

    background-size: cover;
    background-position: 50% 10%;
    display: block;
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);

}

.close {
    position: absolute;
    top: 30px;
    right: 15px;
    color: white;
    font-size: 80px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1;
    opacity: 0.7;
}
.close:hover{
  opacity: 1;
}
.playsbgmask {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(51, 51, 51, .2);
  color: rgba(51, 51, 51, 1);
  text-align: left;
  vertical-align: middle;
  /*-webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  animation-name: opacity;
  animation-duration: 2s;*/
}

.playsitemview .info p  img{
  width:24%;
  margin-top: 0%;

  margin-left: 0;
  margin-right: 1%;
  margin-top: 1%;
  box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
}
.playsitemview .info .desc{
  color: rgb(8, 33, 59);
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 10px;
  text-align: justify;
}
.playsitemview .info h3{
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center !important;
  font-size: 28px;
  /*text-transform: uppercase;*/
}
.playsitemview .info iframe{
 display: block;
 margin: 0 auto;
}




.left{
  float: left;
}
.right{
  float: right;
  width: 41% !important;
  margin-left: 1% !important;
  margin-right: 0 !important;
}
.roles{
 text-align: center;
 
}
.rolesitem{
  text-align: center;
  
display: inline-block;
    margin-right: 40px;
    margin-bottom: 20px;
}
.rolesitem:last-of-type{
  margin-right: 0;  
}
.roleImg{
  width: 150px;
  height: 150px;
  background-size: cover;
    /*background-position: 50% 25%;*/
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0px 0px 5px rgb(51, 51, 51);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
}
.roleImg:hover{
  cursor:pointer;
}
.rolessign{
display: block;
color:rgb(8, 33, 59);
}
.rolessign .name{
  font-size: 12px;
  
}

.rolessign .role{
  
  font-weight: bold;
}
